.form-container
{
    width:50%;
    background-color:#d9d9d9;
    border-radius:75px 75px 0 0;
    margin-bottom:-11vh;
    padding-top:5vh;
    padding-bottom:10vh;
}


.form-field
{
    margin: 3vh auto 3vh auto;
    padding:1vh;
    width:50%;
    height: 50px;
}


.leafs {
    position: absolute;
    left: 0;
    top: 0; 
  }
  
  .women {
    position: absolute;
    right: 0;
    top: 0; 
  }

  