/* styles.css */


.ad-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10vh;
}

.image-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.main-image {
    height: 50vh;
    border-radius: 35px;
    object-fit: cover;
}

.thumbnail-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnail:hover {
    border: 2px solid #7360DF;
}

.building-section {
    background-color: #F4F4F4;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.building-section h2
{
    font-size: 1.5rem;
    margin: 0;
    text-align:center;
    color:#555;
    margin-top: 100px
}

.building-section .details
{
    width:50%;
    margin-left:25%;
}

.building-section .detail-item
{
    background-color: rgb(237, 237, 237);
}

.building-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.building-photos {
    margin-top: 10px;
}

.photo-grid {
    display: flex;
    gap: 10px;
}

.building-photo {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}