/*
paleta

fioletowy jasny  - #9D8CFF
fioletowy        - #7360DF
fioletowy ciemny - #2D297D
szary jasny tło  - #ECECEC
szary            - #D9D9D9
szary ciemny     - #CBCBCB
szary ciemniejszy- #AAAAAA
czarny           - #222

*/

body
{
    background-color: #ECECEC;
    margin:0;
    padding:0;
    font-family: "Segoe UI", sans-serif;
    
}




h2 {
    font-weight: 200;
    cursor:default;
}

h3 {
    font-weight: 200;
    cursor:default;
    color:#aaa;
    margin-bottom:5vh;
}

h4 {
    font-weight: 200;
    cursor:default;
    color:#aaa;
}

ul {
    margin-left: 20px;
}

p {
    margin: 10px 0;
}

a
{
    text-decoration: none;
    color:#262626;
}

a:visited {
    color: #7575D3;
}


a:hover {
    color: #2D297D;
}

hr {
    border: none;
    border-top: 1px solid #CBCBCB;
    margin-top:5vh;
}

.container {
    color: #222;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .content {
    flex: 1; 
  }